.container_historico{
    display: flex;
    width: 100%;
    background-color: #bfbfbf;
    border-radius: 10px;
    padding: 20px 0px;
    flex-direction: column;
    align-items: center;
}

.container_historico h2{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-bottom: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}



.historico{
    display: flex;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #000000;
    padding: 10px 10px;
    margin-bottom: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.historico_texto{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.historico_texto span{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.historico_texto p{
    margin: 5px 5px;
}

.historico_botoes{
    display: flex;
    flex-direction: column;

}

.historico_botoes button{
    margin: 5px 0px;



}


.foto_historico{
    width: 75%;
}