
   
   
   
   
   .classe_principal{

    display: flex;
    flex-direction: column;
    align-items: center;

   }
   
   .foto{
    display: flex;
    justify-content: center;

    margin-top: 25px;
   }
   
   .infor{
    width: 90%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;

    background-color: #fdfdfd;
    border-radius: 10px;

    margin: 10px 10px;
    padding: 20px 0px;

    }

    .foto-perfil{
        width: 40%;
        margin-bottom: 10px;
        z-index: 10;
        
    }


    .info_interna{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 80%;

    }

    .botoes_acao{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        margin: 20px 2px;   
        padding: 10px 5px;


    }
   
   .style-container-1 {
        width: 95%;
        background-color: #bfbfbf;
        border-radius: 10px;
    }

    .avaliacao{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
    }


    
    .estrela{
        padding-left: 5%;
        width: 17%;

    }

    .n-viagem{
        background-color: rgb(215, 218, 221);
        border-radius: 9%;
    }

    .carro{
        padding-left: 2%;
        width: 8%;
        height: auto;
    }

    .underline {
        border-bottom: 1px solid black; 
    }



    

    